includes:
    - vendor/x-systems/phlex-core/phpstan-ext.neon

parameters:
    level: 5
    paths:
        - ./
    excludes_analyse:
        - cache/
        - build/
        - vendor/
        - src/Model.php

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)\.$~'

        # TODO these rules are generated, this ignores should be fixed in the code
        - '~^Call to an undefined method Phlex\\Data\\(.*)Model(.*)::migrate\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\(.*)Model(.*)::dsql\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\(.*)Model(.*)::expr\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Model\\Reference(.*)::addTitle\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Model\\Reference(.*)::withTitle\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Model\\Reference(.*)::addField\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Model\\Reference(.*)::addFields\(\)\.$~'
        # - '~^Call to an undefined method Phlex\\Data\\Model\\Reference(.*)::refLink\(\)\.$~'        
        # - '~^Access to an undefined property Phlex\\Data\\Persistence::\$\_default\_seed\_addField\.$~'
        - '~^Call to an undefined method Atk4\\Dsql\\Query::sequence\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Persistence::expr\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Persistence\\Query::render\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Persistence\\Query::dsql\(\)\.$~'
        - '~^Call to an undefined method Phlex\\Data\\Persistence\\Query::reset\(\)\.$~'
        - '~^Parameter \#2 \$expression of method Phlex\\Data\\Model::addExpression\(\) expects array|Atk4\\Dsql\\Expression\|Closure\|string, Phlex\\Data\\Persistence\\Query given\.$~'
